@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;
@use "../../styles/animations" as *;
@use "../../styles/variables" as *;

.motion__test{
  border: 2px solid black;
}

.projects {
  @include componentPadding;
  height: calc(100dvh - $header-height-mobile);
  background-color: var(--background);

  @include tablet {
    height: calc(100dvh - $header-height-mobile);
  }
  &__header {
    @include header(2rem);
    font-family: $oswald-font;
    text-align: center;
    padding: $padding-m;
    text-transform: uppercase;
  }

  &__section {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    border: 2px solid black;
    @include tablet {
      justify-content: center;
      flex-wrap: nowrap;
      gap: 1rem;
    }
    @include desktop{
        gap: 2rem;
        max-width: 1400px;
    }
  }

  &__mini-close {
    cursor: pointer;
  }
}
