@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;
@use "../../styles/animations" as *;
@use "../../styles/variables" as *;

.motion__test{
  border: 2px solid black;
}

.projects {
  height: 100%;
  min-height: calc(100dvh - $header-height-mobile);
  padding: 6rem 1rem 2rem;
  // background: linear-gradient(135deg, #b6a9ce 45%, white 45%, white 48%, var(--background) 48%);
  // border-bottom: 80px solid #b6a9ce;
  @include tablet {
    min-height: calc(100dvh);
    padding: 8rem 4rem;
  }
  &__header {
    @include sectionTitle;
    text-align: center;
    color: var(--font-primary);
  }

  &__section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-self: center;
    justify-self: center;
    margin: 0 auto;
    gap: 1rem;
    padding: 1rem;
    @include tablet {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 2rem;
      gap: 2rem;
    }
    @include desktop{
      display: flex;
      justify-content: center;
      gap: 2.5rem;
      flex-wrap: nowrap;
      max-width: 1400px;
    }
  }

  &__mini-close {
    cursor: pointer;
  }
}
