@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;
@use "../../styles/animations" as *;
@use "../../styles/variables" as *;

.motion__test{
  border: 2px solid black;
}

.projects {
  margin-top: 2rem;
  height: calc(100dvh - $header-height-mobile);
  min-height: 800px;
  background-color: rgba(var(--background), 0.3);
  border-top: 2px solid black;
  padding: 2rem 1rem;

  @include tablet {
    @include componentPadding;
    height: calc(100dvh);
  }
  &__header {
    @include sectionTitle;
    text-align: center;
    color: var(--font-primary);

    @include tablet{
    }
    @include desktop{
    }
  }

  &__section {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 1rem;
    @include tablet {
      flex-wrap: nowrap;
      gap: 1rem;
    }
    @include desktop{
        gap: 2rem;
        max-width: 1400px;
    }
  }

  &__mini-close {
    cursor: pointer;
  }
}
