@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;
@use "../../styles/media-queries" as *;

.project{
    border: 1px solid black;
    border-radius: 8px;
    margin-bottom: 2rem;
    background-color: rgb(172, 175, 190);
    @include tablet{
        display: flex;
        width: 1200px;
        margin: 2rem auto;
    }
    &__container{
        padding: 3rem;
        @include tablet{
            width: 800px;
        }
    }
    &__title{
        @include title(2rem, 500);
    }
    &__description{
        @include body(1rem);
        margin: 1rem 0;
    }
    &__image{
        width: 100%;
        height: 350px;
        border-radius: 16px;
        box-shadow: 5px 5px 5px rgb(135, 135, 135);
        margin-left: 1rem;
        &-left{
            transform: perspective(500px) rotate3D(0, 1, 0, 5deg);
        }
        &-right{
            transform: perspective(500px) rotate3D(0, -1, 0, 5deg);
        }
        @include tablet{
            width: 500px;
        }
    }
    &__techs{
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        margin-bottom: 2rem;

        &-single{
            font-family: $poppins-font;
            text-transform: uppercase;
            border: 1px solid black;
            border-radius: 4px;
            padding: 4px 8px;
            background-color: #151926;
            color: white;
        }
    }
    &__button-site{
        padding: 1rem;
    }
}