@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;
@use "../../styles/animations" as *;
@use "../../styles/variables" as *;

$work-container-background: rgb(78, 217, 255);

.project-card {
  width: 400px;
  height: 500px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: $padding-m;
  overflow: hidden;
  justify-content: space-between;
  background-color: $work-container-background;
  margin: 0 auto $margin-l;

  &:hover{
    width: 320px;
    height: 620px;
  }

  @include tablet {
    padding: $padding-m;
    width: 300px;
    height: 600px;
  }

  &__expanded{
    padding: $padding-l;
  }

  &__remove{
    display: none;
  }

  &__back-arrow{
    filter: brightness(0) invert(1);

    &:hover{
      cursor: pointer;
    }
  }

  &__container{
    
  }

  &__content{
    display: flex;

    @include tablet{
      margin: -2rem auto 0;
      justify-content: space-between;
      gap: 2rem;
      width: 550px;
    }
  }

  &__title{
    @include title(1.5rem, 500);
    font-family: $oswald-font;
    margin-left: 0.5rem;
  }

  &__description{
    @include body(0.925rem);
    min-width: 300px;
    width: 300px;
  }

  &__logo {
    width: 80px;
    height: 80px;

    @include tablet{
      width: 120px;
      height: 120px;
    }
  }

  &__techs{
    margin: $margin-m auto 0;
    display: flex;
    gap: 1rem;
    width: 550px;

    &--item{
      border: 1px solid black;
      border-radius: 8px;
      padding: $padding-xs;
      background-color: black;
      color: white;
    }
  }

  &__image {
    width: 250px;
    height: 180px;
    margin: 0 auto;
    border-radius: 16px;

    &-expanded{

      @include tablet{
        width: 600px;
        height: auto;
        margin-top: 2rem;
      }
    }
  }

  &__external{
    width: 22px;
    &:hover{
      cursor: pointer;
    }
  }
}

.project-card__remove{
  display: none;
}