@font-face {
  font-family: Poppins;
  src: url("../../assets/fonts/Poppins-Light.ttf");
  font-style: light;
  font-weight: 300;
}

@font-face {
  font-family: Poppins;
  src: url("../../assets/fonts/Poppins-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url("../../assets/fonts/Poppins-Medium.ttf");
  font-style: medium;
  font-weight: 500;
}

@font-face {
  font-family: Poppins;
  src: url("../../assets/fonts/Poppins-SemiBold.ttf");
  font-style: semibold;
  font-weight: 600;
}

@font-face {
  font-family: Poppins;
  src: url("../../assets/fonts/Poppins-Bold.ttf");
  font-style: bold;
  font-weight: 700;
}

@font-face {
  font-family: Oswald;
  src: url("../../assets/fonts/Oswald-VariableFont_wght.ttf");
}

@font-face {
  font-family: Bodoni;
  src: url("../../assets/fonts/BodoniFLF-Bold.ttf");
  font-style: bold;
  font-weight: 700;
}

@font-face {
  font-family: Bodoni;
  src: url("../../assets/fonts/BodoniFLF-BoldItalic.ttf");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: Bodoni;
  src: url("../../assets/fonts/BodoniFLF-Italic.ttf");
  font-style: italic;
  font-weight: 500;
}

@mixin title($font-size, $weight){
  font-family: $oswald-font;
  font-size: $font-size;
  line-height: $font-size * 1.2;
  font-weight: $weight;
}

@mixin header($font-size){
  font-family: $oswald-font;
  font-size: $font-size;
  line-height: $font-size * 1.2;
  font-weight: 500;
}

@mixin body($font-size){
  font-family: $poppins-font;
  font-size: $font-size;
  line-height: $font-size * 1.4;
  font-weight: 400;
}

$poppins-font: Poppins, Arial, Helvetica, sans-serif;
$oswald-font: Oswald, Arial, Helvetica, sans-serif;
$bodoni-font: Bodoni, Arial, Helvetica, sans-serif;
