@use "./variables" as *;
@use "./fonts" as *;

// MEDIA QUERIES
@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@mixin button {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-family: $oswald-font;
  font-size: 1.25rem;
  background-color: var(--tertiary);
  text-transform: uppercase;

  @include tablet{
    padding: 0.75rem 1.5rem;
  }

  &:hover {
    background-color: color-mix(in srgb, var(--tertiary) 90%, black);

  }
}

@mixin componentPadding{
  padding: $padding-m $padding-l;

  @include tablet{
    padding: $padding-xl  $padding-xl;
  }
}

@mixin componentMargin{
  margin: $margin-xl $margin-l;

  @include tablet{
    margin: $margin-xl auto;
  }
}

@mixin sectionPadding{
  padding: 6rem 1rem 2rem;
  @include tablet{
    padding: 6rem 4rem 1rem;
  }
  @include desktop{
    padding: 7rem 4rem 1rem;
  }
}

@mixin sectionMargin{
  @include tablet{

  }
}