// Margin

$margin-xxs: 0.25rem;
$margin-xs: 0.5rem;
$margin-s: 0.75rem;
$margin-m: 1rem;
$margin-l: 1.75rem;
$margin-xl: 2.5rem;
$margin-xxl: 6rem;

// Padding

$padding-xs: 0.5rem;
$padding-s: 0.75rem;
$padding-m: 1.25rem;
$padding-l: 2rem;
$padding-xl: 2.5rem;
$padding-xxl: 4rem;

// Colors - Light Mode

// :root {
//   --background: #eff5fb;
//   --shadow: rgb(146, 146, 146);

//   --primary: #3383da;
//   --secondary: #76b0f0;
//   --accent: #499df7;

//   --font-primary: #0e0801;
// }

// [data-theme="dark"] {
//   --background: #001f3f;
//   --shadow: rgb(146, 146, 146);

//   --primary: #2575cb;
//   --secondary: #0f4a8a;
//   --accent: #085bb5;

//   --font-primary: #fef8f1;
// }

:root {
  --background: #D9E5D6;
  --background-white: #FFFFFF;
  --header: #457B9D;

  --primary: #EDDEA4;
  --secondary: #22577A;
  --tertiary: #9297C4;
  --accent: #E63946;

  --font-primary: #0e0801;
  --font-home: #1D3557;
}

// Colors - Dark Mode

[data-theme="dark"] {
  --background: #1A120B;
  --header: #22577A;

  --primary: #22577A;
  --secondary: #22577A;
  --tertiary: #C7A9E0;
  --accent: #22577A;

  --font-primary: #F8EDE3;
}

// Colors - CTA

$button-primary: #dbb998;
$button-secondary: #664524;

// Extras

$border-radius: 16px;
$header-height-mobile: 81px;
$header-height: 102px;