// margins/paddings

$margin-xxs: 0.25rem;
$margin-xs: 0.5rem;
$margin-s: 0.75rem;
$margin-m: 1rem;
$margin-l: 1.75rem;
$margin-xl: 2.5rem;
$margin-xxl: 6rem;

$padding-xs: 0.5rem;
$padding-s: 0.75rem;
$padding-m: 1.25rem;
$padding-l: 2rem;
$padding-xl: 2.5rem;

// Colours

$primary-blue: #2782ce;
$secondary-blue: #001f3f;

$highlighted-blue: #dcf5ff;

$button-primary: #2d00df;
$button-secondary: #2d00df;