// Margin

$margin-xxs: 0.25rem;
$margin-xs: 0.5rem;
$margin-s: 0.75rem;
$margin-m: 1rem;
$margin-l: 1.75rem;
$margin-xl: 2.5rem;
$margin-xxl: 6rem;

// Padding

$padding-xs: 0.5rem;
$padding-s: 0.75rem;
$padding-m: 1.25rem;
$padding-l: 2rem;
$padding-xl: 2.5rem;
$padding-xxl: 4rem;

// Colors - Light Mode

// :root {
//   --background: #eff5fb;
//   --shadow: rgb(146, 146, 146);

//   --primary: #3383da;
//   --secondary: #76b0f0;
//   --accent: #499df7;

//   --font-primary: #0e0801;
// }

// [data-theme="dark"] {
//   --background: #001f3f;
//   --shadow: rgb(146, 146, 146);

//   --primary: #2575cb;
//   --secondary: #0f4a8a;
//   --accent: #085bb5;

//   --font-primary: #fef8f1;
// }

:root {
  --background: #D9E5D6;
  --background-white: #FFFFFF;
  --header: #457B9D;

  --primary: #EDDEA4;
  --secondary: #22577A;
  --tertiary: #9297C4;
  --accent: #E63946;

  --skills: #be5544;
  --skills-nav: #d8c28d;
  --skills-card: #d0cb78;

  --projects: #55b58c;
  --projects-card: #9fd2bf;

  --font-primary: #0e0801;
  --font-secondary: hsl(203, 23%, 34%);
  --font-tertiary: hsl(203, 15%, 47%);
  --font-home: #1D3557;
}

// Colors - Dark Mode

[data-theme="dark"] {
  --background: #0e1312;
  --header: #39496c;

  --primary: #a6c9c3;
  --secondary: #39645d;
  --tertiary: #6cb1a5;
  --accent: #22577A;

  --skills: #b95141;
  --skills-nav: #725b27;
  --skills-card: #888330;

  --projects: #a6c9c3;
  --projects-card: #374b75;

  --font-primary: #eff4f3;
  --font-secondary: hsl(203, 23%, 34%);
  --font-tertiary: hsl(203, 15%, 47%);
}

// Colors - CTA

$button-primary: #dbb998;
$button-secondary: #664524;

// Extras

$border-radius: 16px;
$header-height-mobile: 81px;
$header-height: 80px;
$footer-height-mobile: 105px;
$footer-height: 80px;