@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;
@use "../../styles/animations" as *;
@use "../../styles/variables" as *;

.skills{
    text-align: center;
    padding: 2rem;
    border: 2px solid black;
    min-height: 600px;
    @include tablet{
        min-height: 800px;
        padding: 2.5rem;
    }
    &__title{
        @include sectionTitle();
        color: var(--font-primary);
    }
    &__subtitle{
        @include title(1.5rem, 500);
        margin: 0 0 2rem;
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        justify-content: center;
        max-width: 1000px;
        justify-content: center;
        margin: 0 auto;
        background-color: var(--primary);
        padding: 4rem 2rem;
        border-radius: $border-radius;
        @include tablet{
            padding: 4rem;
        }
    }
}