@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;
@use "../../styles/animations" as *;
@use "../../styles/variables" as *;

.contact{
    @include componentPadding;
    @include componentMargin;
    border: 1px solid var(--primary);
    background-color: var(--primary);
    border-radius: $border-radius;
    @include tablet{
        width: 800px;
        margin: 4rem auto;
    }
    &__title{
        @include title(2rem, 500);
    }
    &__body{
        @include title(1.5rem, 400);
    }
}