@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;
@use "../../styles/animations" as *;
@use "../../styles/variables" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: calc(100% - $margin-l * 2);
  z-index: 2;
  padding: $padding-s $padding-xs;
  margin: $margin-xl $margin-l;
  border: 1px solid black;
  border-radius: $border-radius;
  background-color: var(--accent);
  

  @include tablet {
    width: calc(100% - $margin-xxl * 2);
    padding: $padding-m $padding-xl;
    margin: $margin-xl $margin-xxl;
  }

  &__reverse{
    animation: 0.25s ease-in 0s mobileReverseExpand;

    @include tablet{
      animation: 0.25s ease-in 0s reverseExpand;
    }
  }

  &__expand{
    margin: 0;
    width: 100%;
    border-radius: 0;
    animation: 0.25s ease-in 0s mobileExpand;

    @include tablet{
      animation: 0.25s ease-in 0s expand;
    }
  }

  &__right-container{
    display: flex;
    align-items: center;
    gap: 1rem;

    @include desktop{
      gap: 2rem;
    }
  }

  &__list {
    display: none;

    @include tablet{
      display: flex;
      list-style-type: none;
      gap: 4rem;
    }

    &-item {
      font-family: $oswald-font;
      font-size: 1.5rem;
      color: var(--font-primary);
      border-bottom: 3px solid transparent;

      &::after{
        content: '';
      }

      &:hover {
        cursor: pointer;
        color: var(--secondary);
        border-bottom: 3px solid var(--secondary);
      }
    }
  }

  &__mode{
    height: 40px;
    width: 40px;
    transition: transform .7s ease-in-out;
    &:hover{
      cursor: pointer;
      transform: rotate(360deg);
    }
  }

  &__contact {
    display: none;

    @include tablet{
      display: block;
    }
    &-button {
      @include button;
      background-color: $button-primary;
    }
  }

  &__menu{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: $border-radius;
    padding: $padding-xs;

    @include tablet{
      display: none;
    }

    &-image{
      height: 28px;
      width: 28px;

      &:hover{
        cursor: pointer;
      }
    }
  }
}
