@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;
@use "../../styles/media-queries" as *;
@use "../../styles/colors" as *;
@use "../../styles/animations" as *;

.footer{
    border: 2px solid black;
    padding: 2rem 6rem;
    display: flex;
    justify-content: space-between;

    &__section{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    &__copyright{
        border: 1px solid black;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__name{
        @include title(2rem, 400);
    }
    &__link{
        cursor: pointer;
    }
}