@use "./styles/fonts" as *;
@use "./styles/mixins" as *;
@use "./styles/variables" as *;

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $montserrat-font;
}

button{
  cursor: pointer;
}

.portfolio{
  overflow: hidden;
  &__section{
    &-visible{
      opacity: 1;
    } 
    &-invisible{
      opacity: 0;
    }
  }
}

.remove__scroll{
  overflow: hidden;
}