@use "./styles/fonts" as *;
@use "./styles/mixins" as *;
@use "./styles/variables" as *;

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $poppins-font;
}

input:focus,
textarea:focus {
  outline: 1px solid color-mix(in srgb, var(--tertiary) 50%, black);
}

button {
  cursor: pointer;
}

.portfolio {
  overflow: hidden;
  background-color: var(--background);
  &__section {
    &-visible {
      opacity: 1;
    }
    &-invisible {
      opacity: 0;
    }
  }
}

.remove__scroll {
  overflow: hidden;
}

html.lenis,
html.lenis body {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-smooth iframe {
  pointer-events: none;
}
